dist/index.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Качественная оклейка автомобилей пленкой</title>
    <link rel="stylesheet" href="assets/css/vendor.min.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/media.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
  </head>
  <body class="body">
    <div class="wrap-site">
      <header class="site__header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display-->
                  <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#top-menu" aria-expanded="false"><span class="sr-only">Отрыть навигацию</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="Автокей"></a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling-->
                  <div class="collapse navbar-collapse" id="top-menu">
                    <ul class="nav navbar-nav">
                      <li><a href="#services">Услуги<span class="sr-only">(current)</span></a></li>
                      <li><a href="#works">Наши работы</a></li>
                      <li><a href="#technology">Технология</a></li>
                      <li><a href="#contacts">Контакты</a></li>
                    </ul>
                    <div class="navbar-text navbar-right"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+7 (123) 456-77-88</div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <section class="main__section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 main__wrap_left">
              <div class="main__left">
                <div class="overlay"></div>
                <div class="main__wrap_section">
                  <h1 class="main__title">Качественная оклейка автомобилей пленкой</h1>
                  <div class="main__desc">Профессионально оклеим Ваш автомобиль пленкой за 2 дня</div>
                  <div class="main__wrap_btn">
                    <button class="btn btn-danger btn-lg" type="button" data-toggle="modal" data-target="#myModal">Заказать звонок</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 main__wrap_right">
              <div class="main__right">
                <div class="main__right_item">Оклейка пленкой</div>
                <div class="main__right_item">Защита кузова</div>
                <div class="main__right_item">Брендирование</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="serv__section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="serv__title_wrap">
                <div class="serv__title_lines"></div>
                <div class="serv__title_center">
                  <h2 class="serv__title">Услуги</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="serv__tab_wrap">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="active" role="presentation"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Оклейка цветной пленкой</a></li>
                  <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Хромирование</a></li>
                  <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Нанесение защитной пленки</a></li>
                  <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Услуги для такси</a></li>
                  <li role="presentation"><a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">Нанесение рекламы и брендирование</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="tab1" role="tabpanel">
                    <article class="serv__item">
                      <header class="serv__item_header">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="serv__item_title">Оклейка цветной пленкой</h3>
                          </div>
                        </div>
                      </header>
                      <div class="serv__item_content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                            <div class="serv__item_img"><img src="../../assets/img/Membrane.jpg" alt="Оклейка цветной пленкой"></div>
                          </div>
                          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Duis quis tortor a mauris rutrum commodo ac eget nibh.
                            Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            Vestibulum pretium commodo erat in semper.
                            Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                            Phasellus quis viverra nulla. Phasellus cursus.
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="tab-pane fade" id="tab2" role="tabpanel">
                    <article class="serv__item">
                      <header class="serv__item_header">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="serv__item_title">Хромирование</h3>
                          </div>
                        </div>
                      </header>
                      <div class="serv__item_content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                            <div class="serv__item_img"><img src="../../assets/img/Membrane-2.jpg" alt="Оклейка цветной пленкой"></div>
                          </div>
                          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Duis quis tortor a mauris rutrum commodo ac eget nibh.
                            Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            Vestibulum pretium commodo erat in semper.
                            Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                            Phasellus quis viverra nulla. Phasellus cursus.
                            Duis quis tortor a mauris rutrum commodo ac eget nibh.
                            Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            Vestibulum pretium commodo erat in semper.
                            Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                            Phasellus quis viverra nulla. Phasellus cursus.
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="tab-pane fade" id="tab3" role="tabpanel">
                    <article class="serv__item">
                      <header class="serv__item_header">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="serv__item_title">Нанесение защитной пленки</h3>
                          </div>
                        </div>
                      </header>
                      <div class="serv__item_content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                            <div class="serv__item_img"><img src="../../assets/img/Membrane-3.jpg" alt="Оклейка цветной пленкой"></div>
                          </div>
                          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Duis quis tortor a mauris rutrum commodo ac eget nibh.
                            Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="tab-pane fade" id="tab4" role="tabpanel">
                    <article class="serv__item">
                      <header class="serv__item_header">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="serv__item_title">Услуги для такси</h3>
                          </div>
                        </div>
                      </header>
                      <div class="serv__item_content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                            <div class="serv__item_img"><img src="../../assets/img/Membrane.jpg" alt="Оклейка цветной пленкой"></div>
                          </div>
                          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Duis quis tortor a mauris rutrum commodo ac eget nibh.
                            Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            Vestibulum pretium commodo erat in semper.
                            Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                            Phasellus quis viverra nulla. Phasellus cursus.
                            Duis quis tortor a mauris rutrum commodo ac eget nibh.
                            Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            Vestibulum pretium commodo erat in semper.
                            Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                            Phasellus quis viverra nulla. Phasellus cursus.
                            Duis quis tortor a mauris rutrum commodo ac eget nibh.
                            Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            Vestibulum pretium commodo erat in semper.
                            Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                            Phasellus quis viverra nulla. Phasellus cursus.
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="tab-pane fade" id="tab5" role="tabpanel">
                    <article class="serv__item">
                      <header class="serv__item_header">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="serv__item_title">Нанесение рекламы</h3>
                          </div>
                        </div>
                      </header>
                      <div class="serv__item_content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                            <div class="serv__item_img"><img src="../../assets/img/Membrane-2.jpg" alt="Оклейка цветной пленкой"></div>
                          </div>
                          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Duis quis tortor a mauris rutrum commodo ac eget nibh.
                            Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            Vestibulum pretium commodo erat in semper.
                            Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                            Phasellus quis viverra nulla. Phasellus cursus.
                            Duis quis tortor a mauris rutrum commodo ac eget nibh.
                            Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="main__wrap_btn">
                      <button class="btn btn-danger btn-lg" type="button" data-toggle="modal" data-target="#myModal">Заказать звонок</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="work__section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="work__title_wrap">
                <div class="work__title_lines"></div>
                <div class="work__title_center">
                  <h2 class="work__title">Наши работы</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="slider_wrap"><img src="../../assets/img/works/slide_01.jpg" alt="Alt"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="teasers__section">
        <div class="overlay"></div>
        <div class="tasers_wrap">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="teasers__item"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                  <div class="teasers__item_title">Большой выбор пленки</div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="teasers__item"><span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                  <div class="teasers__item_title">Опытные специалисты</div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="teasers__item"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <div class="teasers__item_title">Работа по договору</div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="teasers__item"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  <div class="teasers__item_title">Гарания 12 месяцев</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="order__section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="order__title_wrap">
                <div class="order__title_lines"></div>
                <div class="order__title_center">
                  <h2 class="order__title">Online-заявка</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form_wrap"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="clients__section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="order__title_wrap">
                <div class="order__title_lines"></div>
                <div class="order__title_center">
                  <h2 class="order__title">С кем мы работаем</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="clients__item">
                <div class="clients__item_img"><img src="../../assets/img/people.jpg" alt="Alt"></div>
                <div class="clients__item_title">Частные лица</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="clients__item">
                <div class="clients__item_img"><img src="../../assets/img/corp.jpg" alt="Alt"></div>
                <div class="clients__item_title">Корпоративные парки</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="clients__item">
                <div class="clients__item_img"><img src="../../assets/img/state.jpg" alt="Alt"></div>
                <div class="clients__item_title">Государственные организации</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="clients__item">
                <div class="clients__item_img"><img src="../../assets/img/taxi.jpg" alt="Alt"></div>
                <div class="clients__item_title">Компании такси</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="technology__section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="order__title_wrap">
                <div class="order__title_lines"></div>
                <div class="order__title_center">
                  <h2 class="order__title">Как происходит оклейка автомобиля</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
          </div>
        </div>
      </section>
      <section class="contacts__section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="order__title_wrap">
                <div class="order__title_lines"></div>
                <div class="order__title_center">
                  <h2 class="order__title">Контакты</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="contacts__map_wrap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d72076.4992644721!2d37.7024231!3d55.6300187!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1525810670902" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="contacts__items_wrap">
                <div class="contacts__item">
                  <div class="contacts__item_title"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><span>Телефон:</span></div>
                  <div class="contacts__item_text">+7(123) 456-78-90</div>
                </div>
                <div class="contacts__item">
                  <div class="contacts__item_title"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span><span>Адрес:</span></div>
                  <div class="contacts__item_text">г.Москва, м. Ивановская, ул. Ивановская, дом 24Б, корп 3, тр 5.</div>
                </div>
                <div class="contacts__item">
                  <div class="contacts__item_title kakdobrtsa"><span class="glyphicon glyphicon-road" aria-hidden="true"></span><span>Как добраться:</span></div>
                  <div class="contacts__item_text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis quis tortor a mauris rutrum commodo ac eget nibh.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                  </div>
                </div>
                <div class="contacts__item">
                  <div class="contacts__item_title"><span class="glyphicon glyphicon-time" aria-hidden="true"></span><span>Режим работы:</span></div>
                  <div class="contacts__item_text">с 9:00 до 21:00 без выходных</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="site__footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="corpinfo">Атокей, 2016 г.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="footer-line"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="copyright">Использование материалов возможно только с письменного согласия владельца.</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/js/vendor.min.js"></script>
  </body>
</html>

app/pug/pages/index.pug
extends ../layouts/layout.pug

block content
    section.main__section
        .container-fluid
            .row
                .col-xs-12.col-sm-12.col-md-9.col-lg-9.main__wrap_left
                    .main__left
                        .overlay
                        .main__wrap_section
                            h1.main__title
                                | Качественная оклейка автомобилей пленкой
                            .main__desc
                                | Профессионально оклеим Ваш автомобиль пленкой за 2 дня
                            .main__wrap_btn
                                button.btn.btn-danger.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
                                    | Заказать звонок
                .col-xs-12.col-sm-12.col-md-3.col-lg-3.main__wrap_right
                    .main__right
                        .main__right_item Оклейка пленкой
                        .main__right_item Защита кузова
                        .main__right_item Брендирование
    .my_separator
    section.serv__section
        #services.anchore
        .container
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .serv__title_wrap
                        .serv__title_lines
                        .serv__title_center
                            h2.serv__title Услуги
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .serv__tab_wrap
                        ul.nav.nav-tabs(role='tablist')
                            li.active(role='presentation')
                                a(href='#tab1', aria-controls='tab1', role='tab', data-toggle='tab')
                                    | Оклейка цветной пленкой
                            li(role='presentation')
                                a(href='#tab2', aria-controls='tab2', role='tab', data-toggle='tab')
                                    | Хромирование
                            li(role='presentation')
                                a(href='#tab3', aria-controls='tab3', role='tab', data-toggle='tab')
                                    | Нанесение защитной пленки
                            li(role='presentation')
                                a(href='#tab4', aria-controls='tab4', role='tab', data-toggle='tab')
                                    | Услуги для такси
                            li(role='presentation')
                                a(href='#tab5', aria-controls='tab5', role='tab', data-toggle='tab')
                                    | Нанесение рекламы и брендирование
                        .tab-content
                            #tab1.tab-pane.fade.in.active(role='tabpanel')
                                article.serv__item
                                    header.serv__item_header
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.serv__item_title Оклейка цветной пленкой
                                    .serv__item_content
                                        .row
                                            .col-xs-12.col-sm-5.col-md-4.col-lg-4
                                                .serv__item_img
                                                    img(src="../../assets/img/Membrane.jpg", alt="Оклейка цветной пленкой")
                                            .col-xs-12.col-sm-7.col-md-8.col-lg-8
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                                                | Vestibulum pretium commodo erat in semper.
                                                | Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                                                | Phasellus quis viverra nulla. Phasellus cursus.

                            #tab2.tab-pane.fade(role='tabpanel')
                                article.serv__item
                                    header.serv__item_header
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.serv__item_title Хромирование
                                    .serv__item_content
                                        .row
                                            .col-xs-12.col-sm-5.col-md-4.col-lg-4
                                                .serv__item_img
                                                    img(src="../../assets/img/Membrane-2.jpg", alt="Оклейка цветной пленкой")
                                            .col-xs-12.col-sm-7.col-md-8.col-lg-8
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                                                | Vestibulum pretium commodo erat in semper.
                                                | Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                                                | Phasellus quis viverra nulla. Phasellus cursus.
                                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                                                | Vestibulum pretium commodo erat in semper.
                                                | Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                                                | Phasellus quis viverra nulla. Phasellus cursus.
                            #tab3.tab-pane.fade(role='tabpanel')
                                article.serv__item
                                    header.serv__item_header
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.serv__item_title Нанесение защитной пленки
                                    .serv__item_content
                                        .row
                                            .col-xs-12.col-sm-5.col-md-4.col-lg-4
                                                .serv__item_img
                                                    img(src="../../assets/img/Membrane-3.jpg", alt="Оклейка цветной пленкой")
                                            .col-xs-12.col-sm-7.col-md-8.col-lg-8
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            #tab4.tab-pane.fade(role='tabpanel')
                                article.serv__item
                                    header.serv__item_header
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.serv__item_title Услуги для такси
                                    .serv__item_content
                                        .row
                                            .col-xs-12.col-sm-5.col-md-4.col-lg-4
                                                .serv__item_img
                                                    img(src="../../assets/img/Membrane.jpg", alt="Оклейка цветной пленкой")
                                            .col-xs-12.col-sm-7.col-md-8.col-lg-8
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                                                | Vestibulum pretium commodo erat in semper.
                                                | Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                                                | Phasellus quis viverra nulla. Phasellus cursus.
                                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                                                | Vestibulum pretium commodo erat in semper.
                                                | Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                                                | Phasellus quis viverra nulla. Phasellus cursus.
                                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                                                | Vestibulum pretium commodo erat in semper.
                                                | Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                                                | Phasellus quis viverra nulla. Phasellus cursus.
                            #tab5.tab-pane.fade(role='tabpanel')
                                article.serv__item
                                    header.serv__item_header
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.serv__item_title Нанесение рекламы
                                    .serv__item_content
                                        .row
                                            .col-xs-12.col-sm-5.col-md-4.col-lg-4
                                                .serv__item_img
                                                    img(src="../../assets/img/Membrane-2.jpg", alt="Оклейка цветной пленкой")
                                            .col-xs-12.col-sm-7.col-md-8.col-lg-8
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                                                | Vestibulum pretium commodo erat in semper.
                                                | Etiam elementum quis urna vel scelerisque. Sed ac elementum lacus.
                                                | Phasellus quis viverra nulla. Phasellus cursus.
                                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .main__wrap_btn
                                    button.btn.btn-danger.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
                                        | Заказать звонок

    section.work__section
        #works.anchore
        .container
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .work__title_wrap
                        .work__title_lines
                        .work__title_center
                            h2.work__title Наши работы
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .slider_wrap.relation
                        .relation_ratio
                        img(src="../../assets/img/works/slide_01.jpg", alt="Alt").relation_content

    section.teasers__section
        .overlay
        .tasers_wrap
            .container
                .row
                    .col-xs-12.col-sm-6.col-md-3.col-lg-3
                        .teasers__item
                            span.glyphicon.glyphicon-list(aria-hidden='true')
                            .teasers__item_title Большой выбор пленки
                    .col-xs-12.col-sm-6.col-md-3.col-lg-3
                        .teasers__item
                            span.glyphicon.glyphicon-education(aria-hidden='true')
                            .teasers__item_title Опытные специалисты
                    .col-xs-12.col-sm-6.col-md-3.col-lg-3
                        .teasers__item
                            span.glyphicon.glyphicon-edit(aria-hidden='true')
                            .teasers__item_title Работа по договору
                    .col-xs-12.col-sm-6.col-md-3.col-lg-3
                        .teasers__item
                            span.glyphicon.glyphicon-cog(aria-hidden='true')
                            .teasers__item_title Гарания 12 месяцев

    section.order__section
        .container
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .order__title_wrap
                        .order__title_lines
                        .order__title_center
                            h2.order__title Online-заявка
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    form(method='get')
                        .form__first_line
                            .col-md-3
                                label(for='phone') УСЛУГА :&nbsp;
                                span.required *
                                br
                                select#phone(name='phone')
                                    option.form-control(value='—') —
                                    option.form-control(value='lumia 950') Lumia 950
                                    option.form-control(value='nexus 5x') Nexus 5X
                                    option.form-control(value='galaxy s7') Galaxy S7

                            .col-md-3.col-md-offset-1.order__form
                                label(for='phone2') ПЛЕНКА :&nbsp;
                                span.required *
                                br
                                select#phone2(name='phone')
                                    option.form-control(value='—') —
                                    option.form-control(value='lumia 950') Lumia 950
                                    option.form-control(value='nexus 5x') Nexus 5X
                                    option.form-control(value='galaxy s7') Galaxy S7

                            .col-md-3.col-md-offset-1.order__form
                                label(for='phone3') ОБЪЕКТ ОКЛЕЙКИ :&nbsp;
                                span.required *
                                br
                                select#phone3(name='phone')
                                    option.form-control(value='—') —
                                    option.form-control(value='lumia 950') Lumia 950
                                    option.form-control(value='nexus 5x') Nexus 5X
                                    option.form-control(value='galaxy s7') Galaxy S7
                        .form__second_line
                            .col-md-3
                                label(for='phone4') МАРКА АВТОМОБИЛЯ :&nbsp;
                                span.required *
                                br
                                select#phone4(name='phone')
                                    option.form-control(value='—') —
                                    option.form-control(value='lumia 950') Lumia 950
                                    option.form-control(value='nexus 5x') Nexus 5X
                                    option.form-control(value='galaxy s7') Galaxy S7

                            .col-md-3.col-md-offset-1
                                label(for='phone5') МОДЕЛЬ АВТОМОБИЛЯ :&nbsp;
                                span.required *
                                br
                                input#phone5.form-control(type='text', placeholder='—')

                            .col-md-3.col-md-offset-1
                                label(for='phone6') ВАШЕ ИМЯ :&nbsp;
                                span.required *
                                br
                                input#phone6.form-control(type='text', placeholder='—')
                        .form__third_line
                            .col-md-4.col-md-offset-2
                                label(for='phone8') ВАШ ТЕЛЕФОН :&nbsp;
                                span.required *
                                br
                                input#phone8.form-control(type='text', placeholder='—')
                            .col-md-4
                                label(for='phone7') ЗАКАЗЧИК :&nbsp;
                                span.required *
                                br
                                select#phone7(name='phone')
                                    option.form-control(value='—') —
                                    option.form-control(value='lumia 950') Lumia 950
                                    option.form-control(value='nexus 5x') Nexus 5X
                                    option.form-control(value='galaxy s7') Galaxy S7
                        .col-md-5
                        p.require_notice
                            span.required *
                            span &nbsp;&nbsp;- Поля обязательные к заполнению
                        .form_comment
                            p КОМЕНТАРИИ В СЛУЧАЕ НАЛИЧИЯ
                            textarea(rows="5")
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            p.form_notice
                                | Направляемая Вами информация необходима для оценки стоимости услуг и является конфидециальной
                            .main__wrap_btn
                                button.btn.btn-danger.btn-lg(type='submit', data-toggle='modal', data-target='#myModal')
                                    | Отправить



    section.clients__section
        .container
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .order__title_wrap
                        .order__title_lines
                        .order__title_center
                            h2.order__title С кем мы работаем
            .row
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                    .clients__item
                        .clients__item_img
                            img(src="../../assets/img/people.jpg", alt="Alt")
                        .clients__item_title Частные лица
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                    .clients__item
                        .clients__item_img
                            img(src="../../assets/img/corp.jpg", alt="Alt")
                        .clients__item_title Корпоративные парки
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                    .clients__item
                        .clients__item_img
                            img(src="../../assets/img/state.jpg", alt="Alt")
                        .clients__item_title Государственные организации
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                    .clients__item
                        .clients__item_img
                            img(src="../../assets/img/taxi.jpg", alt="Alt")
                        .clients__item_title Компании такси

    section.technology__section
        #technology.anchore
        .container
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .order__title_wrap
                        .order__title_lines
                        .order__title_center
                            h2.order__title Как происходит оклейка автомобиля
            .row
                .col-xs-12.col-sm-4.col-md-4.col-lg-4.technology__item_wrap
                    .technology__item
                        .technology__item_img
                            img(src="../../assets/img/technology.jpg", alt="Подготовка рабочей зоны")
                        .technology__item_descr
                            .technology__item_text
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            .technology__item_title_wrap
                                .technology__item_title_num
                                    | 1
                                h3.technology__item_title_text
                                    | Подготовка рабочей зоны

                .col-xs-12.col-sm-4.col-md-4.col-lg-4.technology__item_wrap
                    .technology__item
                        .technology__item_img
                            img(src="../../assets/img/technology.jpg", alt="Подготовка рабочей зоны")
                        .technology__item_descr
                            .technology__item_text
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            .technology__item_title_wrap
                                .technology__item_title_num
                                    | 2
                                h3.technology__item_title_text
                                    | Подготовка рабочей зоны

                .col-xs-12.col-sm-4.col-md-4.col-lg-4.technology__item_wrap
                    .technology__item
                        .technology__item_img
                            img(src="../../assets/img/technology.jpg", alt="Подготовка рабочей зоны")
                        .technology__item_descr
                            .technology__item_text
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            .technology__item_title_wrap
                                .technology__item_title_num
                                    | 3
                                h3.technology__item_title_text
                                    | Подготовка рабочей зоны
            .row
                .col-xs-12.col-sm-4.col-md-4.col-lg-4.technology__item_wrap
                    .technology__item
                        .technology__item_img
                            img(src="../../assets/img/technology.jpg", alt="Подготовка рабочей зоны")
                        .technology__item_descr
                            .technology__item_text
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            .technology__item_title_wrap
                                .technology__item_title_num
                                    | 4
                                h3.technology__item_title_text
                                    | Подготовка рабочей зоны

                .col-xs-12.col-sm-4.col-md-4.col-lg-4.technology__item_wrap
                    .technology__item
                        .technology__item_img
                            img(src="../../assets/img/technology.jpg", alt="Подготовка рабочей зоны")
                        .technology__item_descr
                            .technology__item_text
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            .technology__item_title_wrap
                                .technology__item_title_num
                                    | 5
                                h3.technology__item_title_text
                                    | Подготовка рабочей зоны

                .col-xs-12.col-sm-4.col-md-4.col-lg-4.technology__item_wrap
                    .technology__item
                        .technology__item_img
                            img(src="../../assets/img/technology.jpg", alt="Подготовка рабочей зоны")
                        .technology__item_descr
                            .technology__item_text
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                            .technology__item_title_wrap
                                .technology__item_title_num
                                    | 6
                                h3.technology__item_title_text
                                    | Подготовка рабочей зоны





    section.contacts__section
        #contacts.anchore
        .container
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .order__title_wrap
                        .order__title_lines
                        .order__title_center
                            h2.order__title Контакты
            .row
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .contacts__map_wrap
                        iframe(src='https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d72076.4992644721!2d37.7024231!3d55.6300187!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1525810670902', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')

                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .contacts__items_wrap
                        .contacts__item
                            .contacts__item_title
                                span.glyphicon.glyphicon-phone-alt(aria-hidden='true')
                                span Телефон:
                            .contacts__item_text +7(123) 456-78-90
                        .contacts__item
                            .contacts__item_title
                                span.glyphicon.glyphicon-flag(aria-hidden='true')
                                span Адрес:
                            .contacts__item_text
                                | г.Москва, м. Ивановская, ул. Ивановская, дом 24Б, корп 3, тр 5.
                        .contacts__item
                            .contacts__item_title.kakdobrtsa
                                span.glyphicon.glyphicon-road(aria-hidden='true')
                                span Как добраться:
                            .contacts__item_text
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Duis quis tortor a mauris rutrum commodo ac eget nibh.
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Mauris ultrices dictum diam et pharetra. Fusce eu porta lacus.
                        .contacts__item
                            .contacts__item_title
                                span.glyphicon.glyphicon-time(aria-hidden='true')
                                span Режим работы:
                            .contacts__item_text с 9:00 до 21:00 без выходных
