app/pug/pages/lesson.pug
extends ../layouts/lesson-layout.pug

block content
    section.profit
        .wrapper
            .row
                .item
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 1
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш
                .item.item_two
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 2
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль
                .item
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 3
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш автомобиль пленкой
                .item
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 4
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш
                .item
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 5
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш
                .item
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 6
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш
                .item
                    img(src='../../assets/img/lesson-icon.png' alt='alt')
                    .lesson__right_item Оклейка пленкой 7
                    .main__desc
                        | Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш

app/lesson.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Уроки flex-box</title>
    <link rel="stylesheet" href="assets/lesson-css/lesson.css">
  </head>
  <body class="l-body">
    <div class="wrap-site">
      <section class="profit">
        <div class="wrapper">
          <div class="row">
            <div class="item"><img src="../../assets/img/lesson-icon.png" alt="alt">
              <div class="lesson__right_item">Оклейка пленкой 1</div>
              <div class="main__desc">Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш</div>
            </div>
            <div class="item item_two"><img src="../../assets/img/lesson-icon.png" alt="alt">
              <div class="lesson__right_item">Оклейка пленкой 2</div>
              <div class="main__desc">Профессионально оклеим Ваш автомобиль</div>
            </div>
            <div class="item"><img src="../../assets/img/lesson-icon.png" alt="alt">
              <div class="lesson__right_item">Оклейка пленкой 3</div>
              <div class="main__desc">Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш автомобиль пленкой</div>
            </div>
            <div class="item"><img src="../../assets/img/lesson-icon.png" alt="alt">
              <div class="lesson__right_item">Оклейка пленкой 4</div>
              <div class="main__desc">Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш</div>
            </div>
            <div class="item"><img src="../../assets/img/lesson-icon.png" alt="alt">
              <div class="lesson__right_item">Оклейка пленкой 5</div>
              <div class="main__desc">Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш</div>
            </div>
            <div class="item"><img src="../../assets/img/lesson-icon.png" alt="alt">
              <div class="lesson__right_item">Оклейка пленкой 6</div>
              <div class="main__desc">Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш</div>
            </div>
            <div class="item"><img src="../../assets/img/lesson-icon.png" alt="alt">
              <div class="lesson__right_item">Оклейка пленкой 7</div>
              <div class="main__desc">Профессионально оклеим Ваш автомобиль пленкой за 2 дня Профессионально оклеим Ваш</div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/js/vendor.min.js"></script>
  </body>
</html>
